
.bar-wrapper {
    height: 300px;
    position: relative;
}
a{
    text-decoration:none;
}
p{
    font-size: 15px;
}
.bar {
    position: relative;
    bottom: 0;
    width: 5px;
    display: inline-block;
    border: 1px solid red;
    height: 5px;
    border-bottom: 3px solid #fff;

}